// Font import
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Base Font
$font-size-base: 14px;
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

// Font Family
$font-family-primary: "Noto Sans", sans-serif;
$font-awesome: "Fontawesome";
	
// Theme Colors Variables
$primary: #7C441C;
$primary-hover: darken($primary, 10%);
$secondary: #C1A471;
$secondary-hover: darken($secondary, 10%);
$tertiary: #A7A9AC;
$success: #5CB85C;
$success-hover: darken($success, 10%);
$info: #1ECBE2;
$info-hover: darken($info, 10%);
$warning: #FDA700;
$warning-hover: darken($warning, 10%);
$danger: #FC0027;
$danger-hover: darken($danger, 10%);
$dark: #171724;
$dark-border: #393947;
$dark-text: #a3a6a6;
$dark-textcolor: #B5B5B5;
$dark-hover: darken($dark, 10%);
$darkmode-hover: #28283D;
$dark-input: #1A1A25;
$dark-bg: #1E1E2D;
$gray-bg: #28283E;
$light: #FDFDFE;
$light-hover: darken($light, 10%);
$white: #FFF;
$black: #000;
$purple: #4A00E5;
$pink: #EA00B7;
$blue: #339DFF;
$teal: #02a8b5;
$violet: #676DFF;
$cyan: #299cdb;
$green: #00918E;
$orange: #FF9D0A;
$indigo: #0092E4;
$indigo-hover: darken($indigo, 10%);

$yellow: #ffff00;

// Primary
$primary-100: #7C441C;
$primary-200: #FAD2CD;
$primary-300: #F7BCB5;
$primary-400: #F4A59C;
$primary-500: #F28F83;
$primary-600: #EF796A;
$primary-700: #EC6251;
$primary-800: #E94C39;
$primary-900: #E73520;

// Secondary
$secondary-100: #FFF6E6;
$secondary-200: #FFECCC;
$secondary-300: #FFE3B3;
$secondary-400: #FFDA99;
$secondary-500: #FFD180;
$secondary-600: #FFC767;
$secondary-700: #FFBE4D;
$secondary-800: #FFB534;
$secondary-900: #FFAB1A;

// Tertiary
$tertiary-100: #ECE9F1;
$tertiary-200: #D8D3E3;
$tertiary-300: #C5BDD4;
$tertiary-400: #B1A7C6;
$tertiary-500: #9E91B8;
$tertiary-600: #8A7BAA;
$tertiary-700: #77659C;
$tertiary-800: #634F8D;
$tertiary-900: #50397F;

// Green
$green-100: #E6F4F4;
$green-200: #CCE9E8;
$green-300: #B3DEDD;
$green-400: #99D3D2;
$green-500: #80C8C7;
$green-600: #66BDBB;
$green-700: #4DB2B0;
$green-800: #33A7A5;
$green-900: #1A9C99;

// Blue
$blue-100: #EBF5FF;
$blue-200: #D6EBFF;
$blue-300: #C2E2FF;
$blue-400: #ADD8FF;
$blue-500: #99CEFF;
$blue-600: #85C4FF;
$blue-700: #70BAFF;
$blue-800: #5CB1FF;
$blue-900: #47A7FF;

// Orange
$orange-100: #FFF5E7;
$orange-200: #FFEBCE;
$orange-300: #FFE2B6;
$orange-400: #FFD89D;
$orange-500: #FFCE85;
$orange-600: #FFC46C;
$orange-700: #FFBA54;
$orange-800: #FFB13B;
$orange-900: #FFA723;

// Pink
$pink-100: #FDE6F8;
$pink-200: #FBCCF0;
$pink-300: #F9B3E9;
$pink-400: #F799E2;
$pink-500: #F580DB;
$pink-600: #F266D3;
$pink-700: #F04DCC;
$pink-800: #EE33C5;
$pink-900: #EC1ABD;

// Violet
$violet-100: #F0F0FF;
$violet-200: #E1E2FF;
$violet-300: #D1D3FF;
$violet-400: #C2C5FF;
$violet-500: #B3B6FF;
$violet-600: #A4A7FF;
$violet-700: #9599FF;
$violet-800: #858AFF;
$violet-900: #767CFF;

// Indigo
$indigo-100: #E6F4FC;
$indigo-200: #CCE9FA;
$indigo-300: #B3DEF7;
$indigo-400: #99D3F4;
$indigo-500: #80C9F2;
$indigo-600: #66BEEF;
$indigo-700: #4DB3EC;
$indigo-800: #33A8E9;
$indigo-900: #1A9DE7;

// Light
$light-100: #FAFAFA;
$light-200: #F9F9FC;
$light-300: #F6F6F6;
$light-400: #F5F5F5;
$light-500: #F6F6F6;
$light-600: #F4F4F4;
$light-700: #F2ECFF;
$light-800: #EAEAEA;
$light-900: #E8E8E8;

// Gray
$gray-100: #C0C0C0;
$gray-200: #9B9B9B;
$gray-300: #898989;
$gray-400: #6F6F6F;
$gray-500: #6F7A7A;
$gray-600: #565E5E;
$gray-700: #424848;
$gray-800: #323737;
$gray-900: #262A2A;

// Info
$info-100: #E9FAFC;
$info-200: #D2F5F9;
$info-300: #BCEFF6;
$info-400: #A5EAF3;
$info-500: #8FE5F1;
$info-600: #78E0EE;
$info-700: #62DBEB;
$info-800: #4BD5E8;
$info-900: #35D0E5;

// Success
$success-100: #EFF8EF;
$success-200: #E0F5D7;
$success-300: #CEEACE;
$success-400: #BEE3BE;
$success-500: #AEDCAE;
$success-600: #9DD49D;
$success-700: #8DCD8D;
$success-800: #7DC67D;
$success-900: #6CBF6C;

// Danger
$danger-100: #FFEEEC;
$danger-200: #FECCD4;
$danger-300: #FEB3BE;
$danger-400: #FE99A9;
$danger-500: #FE8093;
$danger-600: #FD667D;
$danger-700: #FD4D68;
$danger-800: #FD3352;
$danger-900: #FC1A3D;

// Warning
$warning-100: #FFF7D8;
$warning-200: #FFEDCC;
$warning-300: #FEE5B3;
$warning-400: #FEDC99;
$warning-500: #FED380;
$warning-600: #FECA66;
$warning-700: #FEC14D;
$warning-800: #FDB933;
$warning-900: #FDB01A;

// Purple
$purple-100: #F3EDFF;
$purple-200: #DBCCFA;
$purple-300: #C9B3F7;
$purple-400: #B799F5;
$purple-500: #A580F2;
$purple-600: #9266EF;
$purple-700: #804DED;
$purple-800: #6E33EA;
$purple-900: #5C1AE8;



$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "dark": $dark,
    "light": $light,
    "black": $black,
    "purple": $purple,
    "yellow": $yellow,
    "teal": $teal
);

$text-color: #6F6F6F;
$title-color: #262A2A;
$sub-title: #B8BCC9;
$body-bg: #F9F9FC;
$wrapper-bg: #f1f5f6;
$text-muted: #9595b5;
$default-background: #f7f8f9;
$black-bg: #141432;
$card-dark-bg: #1d1d42;
$navy: #353570;
$theme-title: #97A2D2;
$input-bg: #2c2c50;
$form-control-bg: #ffffff;
$background-3: #E0E2E7;

// Social Icons Colors
$facebook: #3B5998;
$twitter: #00ACEE;
$google: #DD4B39;
$telegram: #0088CC;
$linkedin: #0E76A8;
$youtube: #C4302B;
$instagram: #3F729B;
$reddit: #C6C6C6;
$pinterest: #cc2127;
$vk: #2B587A;
$rss: #EE802F;
$skype: #00AFF0;
$xing: #126567;
$tumblr: #34526F;
$email: #6567A5;
$delicious: #205CC0;
$stumbleupon: #F74425;
$digg: #191919;
$blogger: #FC4F08;
$flickr: #FF0084;
$vimeo: #86C9EF;
$yahoo: #720E9E;
$gplus: #DD4B39;
$appstore: #000;

// Gradient Variables
$primary-gradient: linear-gradient(to right, $primary 0%, #8e77fa 100%);
$secondary-gradient: linear-gradient(to right, $secondary 0%, #28b7f9 100%);
$success-gradient: linear-gradient(to right,$success 0%, #5cf9e2 100%);
$warning-gradient: linear-gradient(to right, $warning 0%, #fbc434 100%);
$danger-gradient: linear-gradient(to right,$danger 0%, #fd4a68  100%);
$info-gradient: linear-gradient(to right, $info 0%, #00f2fe  100%);
$pink-gradient: linear-gradient(to right, $pink 0%, #FFA795 100%);
$teal-gradient: linear-gradient(to right, $teal 0%, #0695DD 100%);
$orange-gradient: linear-gradient(to right,$orange 0%,#FBB034 100%);
$purple-gradient: linear-gradient(to right, $purple 0%, #9b25b7 100%);
$light-gradient: linear-gradient(to right, $light 0%, #D1D6DE 100%);
$dark-gradient: linear-gradient(to right, $dark 0%, #54505D 100%);

// Style Anchor Elements
$link-color: $primary;
$link-decoration: none;
$link-shade-percentage: 20%;
$link-hover-color: darken($link-color, 10%);
$link-hover-decoration: null;
$spacer: 1rem;

// Border
$border-width: 1px;
$border-style: solid;
$border-color: $gray-400;
$default-border: $gray-400;
$input-border: $light-900;

// Border Radius
$border-radius: 4px;
$border-radius-sm: 3px;
$border-radius-lg: 5px;
$border-radius-xl: 8px;
$border-radius-xxl: 12px;
$rounded: 50%;
$rounded-pill: 1.5rem;

// Box Shadow
$box-shadow: 0px 4px 54px 0px #E0E0E040;
$box-shadow-sm: 0px 4px 74px 0px #D0D0D040;
$box-shadow-lg: 0 5px 10px rgba(30, 32, 37, 0.12);

// Font Size
$font-size-8: 8px;
$font-size-9: 9px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-40: 40px;
$font-size-42: 42px;
$font-size-50: 50px;
$font-size-54: 54px;
$font-size-60: 60px;

$h1-font-size: 28px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;

